<div class="edit-page">
	<form action="/<%= user.name %>?_method=PUT" method="POST">
		<img src="<%= user.avatar %>" id="avatar-preview" draggable="false" />
		<button class="avatar edit-avatar" type="button">
			<i class="fas fa-user-circle"></i>Edit Avatar
		</button>
		<input type="file" id="avatar" accept="image/*" hidden="hidden" />

		<input type="name" value="<%= user.displayName %>" name="displayName" />
		<textarea name="about"><%= user.about %></textarea>

		<input type="name" placeholder="Link name" placeholder="Link name"  value="<%= user.mainLinkTitle %>" name="mainLinkTitle" />
		<input type="url" placeholder="Link URL" value="<%= user.mainLinkURL %>" name="mainLinkURL" />
		<input type="name" placeholder="Link name" value="<%= user.secondLinkTitle %>" name="secondLinkTitle" />
		<input type="url" placeholder="Link URL" value="<%= user.secondLinkURL %>" name="secondLinkURL" />
		<input type="name" placeholder="Link name" value="<%= user.thirdLinkTitle %>" name="thirdLinkTitle" />
		<input type="url" placeholder="Link URL" value="<%= user.thirdLinkURL %>" name="thirdLinkURL" />
		<input type="name" placeholder="Link name" value="<%= user.fourthLinkTitle %>" name="fourthLinkTitle" />
		<input type="url" placeholder="Link URL" value="<%= user.fourthLinkURL %>" name="fourthLinkURL" />
		<input type="name" placeholder="Link URL" value="<%= user.fifthLinkTitle %>" name="fifthLinkTitle" />
		<input type="url" placeholder="Link URL" value="<%= user.fifthLinkURL %>" name="fifthLinkURL" />

		<h2 class="theme-header">Choose your theme</h2>

		<select class="theme-select" onchange="SetTheme(value)">
			<option value="red">red</option>
			<option value="orange">orange</option>
			<option value="lime">lime</option>
			<option value="blue">blue</option>
			<option value="pink">pink</option>
			<option value="white">white</option>
			<option value="black">black</option>
		</select>

		<input name="avatar" class="avatar-name" value="<%= user.avatar %>" />
		<input name="theme" class="theme" value="<%= user.theme %>" />

		<button type="submit">Save</button>
	</form>
</div>
<script>
	const btn = document.querySelector('button.avatar')
	const fileBtn = document.querySelector('#avatar')

	btn.addEventListener('click', () => {
		fileBtn.click()
	})

	const readURL = (input) => {
		if (input.files && input.files[0]) {
			var reader = new FileReader()

			reader.onload = (e) => {
				document
					.querySelector('#avatar-preview')
					.setAttribute('src', e.target.result)

				document.querySelector('.avatar-name').value = e.target.result
			}

			reader.readAsDataURL(input.files[0]) // convert to base64 string
		}
	}

	fileBtn.addEventListener('change', function () {
		if (fileBtn.value) {
			readURL(this)
			btn.innerText = fileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1]
		}
	})
</script>
<script>
	const SetTheme = (theme) => {
		document.querySelector('input.theme').value = theme
	}
</script>
<script>
	const theme = document.querySelector('input.theme').value
	const options = document.querySelectorAll('.theme-select > option')

	for (let i = 0; i < options.length; i++) {
		if (options[i].innerHTML === theme) {
			options[i].selected = 'selected'
		}
	}
</script>

